{% extends 'master.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:width="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">

    </head>
    <body style="background-color:powderblue;">

    <div style="width: 100%">

        <div style="clear:both"></div>

        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <div style="float:top; margin-left: 15px;margin-top: 30px">
                    <a href="{% url 'category_new' %}" class="btn btn-info" role="button">ADD CATEGORY</a>
                    <a href="{% url 'post_new' %}" class="btn btn-info" role="button">ADD POST</a>
                    <a href="{% url 'post_list' %}" class="btn btn-info" role="button">ALL POSTS</a></div>
            {% else %}
                <div style="float:top; margin-left: 15px; margin-top: 30px">
                    <a href="{% url 'post_new' %}" class="btn btn-info" role="button">ADD POST</a>
                    <a href="{% url 'post_list' %}" class="btn btn-info" role="button">ALL POSTS</a></div>
            {% endif %}
        {% else %}
        {% endif %}

        <div style="float:left;margin-left: 10px;padding-right: 20px;padding-left: 10px; width: 20%; margin-top: 40px; border:solid thick aliceblue;">
            <h3 style="margin-top: 25px; margin-left: 10px"><span class="label label-warning">CATEGORIES</span></h3>

            {% if category_list %}
                {% for category in category_list %}
                    <p>
                    <hr>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">{{ category.post_set.count }}</span>
                            <h4><a href="{% url 'post_list_category' category.pk %}">{{ category.title }}</a></h4>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a href="{% url 'category_edit' category.pk %}" class="btn btn-primary btn-sm"
                               role="button">Update</a>
                            <a href="{% url 'category_delete' category.pk %}" class="btn btn-primary btn-sm"
                               role="button">Delete</a>
                        {% else %}
                        {% endif %}
                    {% else %}
                    {% endif %}
                    </p>
                {% endfor %}
            {% else %}
                <p>There are no category available</p>
            {% endif %}
        </div>
        {% if post_list %}
            <div style="float:none; margin-left: 300px; width: 50%; margin-top: 65px">
                <h3 style="margin: 0px"><span class="label label-warning">POSTS</span></h3>
            </div>
            {% for post in post_list %}
                <p>
                <hr>

                <div style="float:none; margin-left: 300px; width: 50%">
                    <h4><a href="{% url 'post_content' post.pk %}">Post Title: {{ post.post_title }}</a></h4></div>
                <div style="float:none; margin-left: 300px; width: 50%">
                    {{ post.content|slice:"300" }}<br>
                    <a href="{% url 'post_content' post.pk %}">Read More</a><br></div>

                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <div style="float:none; margin-left: 300px; width: 50%">
                            <a href="{% url "post_edit" post.pk %}" class="btn btn-primary btn-sm"
                               role="button">Update</a>
                            <a href="{% url "post_delete" post.pk %}" class="btn btn-primary btn-sm"
                               role="button">Delete</a></div>
                    {% else %}
                        {% if request.user == post.author %}
                            <div style="float:none; margin-left: 300px; width: 50%">
                                <a href="{% url "post_edit" post.pk %}" class="btn btn-primary btn-sm"
                                   role="button">Update</a>
                                <a href="{% url "post_delete" post.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </div>
                </p>
            {% endfor %}
        {% else %}
            <p>no post</p>
        {% endif %}
    <br><br><br>
    <p>Created by Oğuz ÖZTÜRK</p>
    </body>
    </html>
{% endblock %}