<nav class="navbar navbar-default navbar-static-top" style="background-color:blue; border:2px solid #000;">

        {% if user.is_authenticated %}
            <div style="float: left; margin-left: 20px">
                <h2><span class="label label-warning">User : {{ user.username }}</span></h2>
                <h4><span class="label label-warning"><a href="{% url 'see_profile' user.pk %}">See Profile</a></span></h4>
            </div>
        {% endif %}

    <div style="float:left; margin-left: 350px">
        <h1><span class="label label-warning">SEKOM BLOG</span></h1>
    </div>
    <div style="float:right; margin-right: 50px; margin-top: 15px">
        <span class="label label-warning"><a href="{% url 'index' %}">HOME PAGE</a></span>
        {% if user.is_authenticated %}
            <span class="label label-warning"><a href="{% url 'logout' %}">LOGOUT</a></span>
        {% else %}
            <span class="label label-warning"><a href="{% url 'login' %}">LOGIN</a></span>
            <span class="label label-warning"><a href="{% url 'register' %}">REGISTER</a></span>
        {% endif %}
    </div>
</nav>
{% block content %}

{% endblock %}