{% extends 'master.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
    </head>
    <body style="background-color:powderblue;">
    <div style="float:none;margin-left: 20px;width: 75%">
        <p>
        <hr>
        <h2><span class="label label-warning">POST CONTENT</span></h2>
        <a href="{% url 'profile_content' post.author_id %}">Go {{ post.author }} 's Profile </a><br>
        <p class="bg-info">Author: {{ post.author }}</p>
        <p class="bg-info"> Category: {{ post.category }}</p>
        <p class="bg-info">Title: {{ post.post_title }}</p>
        <p class="bg-info">Content: {{ post.content }}</p>
        <p class="bg-info">Created at: {{ post.created_at }}</p>
        <p class="bg-info">Updated at: {{ post.updated_at }}</p>
        <p class="bg-info">Like: {{ post.like }}</p>
        <p class="bg-info">Dislike: {{ post.dislike }}</p>
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ vote_form }}
                <button type="submit" class="btn btn-primary btn-sm">Submit Choice</button>
            </form>
        {% endif %}

        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a href="{% url "post_edit" post.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                <a href="{% url "post_delete" post.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
            {% else %}
                {% if request.user == post.author %}
                    <a href="{% url "post_edit" post.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                    <a href="{% url "post_delete" post.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                {% endif %}
            {% endif %}
        {% else %}
        {% endif %}

        </p>

        <p>
        <hr>
        <h2><span class="label label-warning">COMMENTS</span></h2>
        </p>
        {% if post.comment_set %}
            {% for comment in post.comment_set.all %}
                <p>
                <hr>
                <p class="bg-danger">User: {{ comment.author }}</p>
                <p class="bg-danger">Comment: {{ comment.comment_text }}</p>
                <p class="bg-danger">Created at: {{ comment.created_comment_at }}</p>
                <p class="bg-danger">Update at: {{ comment.updated_comment_at }}</p>
                <p class="bg-danger">Like: {{ comment.like_comment }}</p>
                <p class="bg-danger">Dislike: {{ comment.dislike_comment }}</p>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="{% url "comment_edit" comment.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                        <a href="{% url "comment_delete" comment.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                        <br>
                    {% else %}
                        {% if request.user == comment.author %}
                            <a href="{% url "comment_edit" comment.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                            <a href="{% url "comment_delete" comment.pk %}" class="btn btn-primary btn-sm"
                               role="button">Delete</a><br>
                        {% endif %}
                    {% endif %}
                {% else %}
                {% endif %}
                <a href="{% url "comment_like" post.pk comment.pk %}" class="btn btn-primary btn-sm"
                   role="button">Like</a>
                <a href="{% url "comment_dislike" post.pk comment.pk %}" class="btn btn-primary btn-sm" role="button">Dislike</a>
                </p>
            {% endfor %}
        {% else %}
            <p>no comment</p>
        {% endif %}

        {% if user.is_authenticated %}
            <p>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ comment_form }}
                <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                <br><br><br><br><br>
            </form>
            </p>
        {% endif %}
    </div>
    <br><br><br>
    <p>Created by Oğuz ÖZTÜRK</p>
    </body>
    </html>
{% endblock %}