
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<a href="{% url 'index' %}" class="btn btn-info" role="button">Home Page</a>
<form method="post">
    {% csrf_token %}
    {{ post_form.as_p }}
    <button type="submit" class="btn btn-info">Create Post</button>
</form>