{% extends 'master.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
    </head>

    <body style="background-color:powderblue;">

    <div style="float:none;margin-left: 20px;width: 75%">

        <p>
        <hr>
            <div style="float:right">
            <a href="{% url 'post_new' %}" class="btn btn-info" role="button">Add Post</a></div>
            <div style="float:none;width: 75%">
            <h2><span class="label label-warning">ALL POSTS</span></h2></div>
        </p>

        {% if post_list %}
            {% for post in post_list %}
                <p>
                <hr>
                <a href="{% url 'post_content' post.pk %}" class="btn btn-primary btn-sm" role="button">Go Post
                    Content</a><br>
                <a href="{% url 'profile_content' post.author_id %}">Go {{ post.author }} 's Profile </a><br>
                <p class="bg-info">Title: {{ post.post_title }}</p>
                <p class="bg-info">Content: {{ post.content }}</p>
                <p class="bg-info">Created at: {{ post.created_at }}</p>
                <p class="bg-info">Updated at: {{ post.updated_at }}</p>
                <p class="bg-info">Author: {{ post.author }}</p>
                <p class="bg-info">Like: {{ post.like }}</p>
                <p class="bg-info">Dislike: {{ post.dislike }}</p>
                </p>
            {% endfor %}
        {% else %}
            <p>no post</p>
        {% endif %}</div>
    <br><br><br>
    <p>Created by Oğuz ÖZTÜRK</p>
    </body>
    </html>
{% endblock %}