{% extends 'master.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post Details</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
    </head>
    <body style="background-color:powderblue;">
    <div style="float:none;margin-left: 20px;width: 75%">

    <p>
    <hr>
    <div style="float:right">
    <a href="{% url 'post_new' %}" class="btn btn-info" role="button">Add Post</a><br></div>
        <div style="float:none;width: 75%">
    <h2><span class="label label-warning">Category Name: {{ category.title }}</span></h2></div>
    </p>

    <p>
    <hr>
    {% if category.post_set %}

        {% for post in category.post_set.all %}
            <a href="{% url 'post_content' post.pk %}" class="btn btn-primary btn-sm" role="button">Go Post Content</a>
            <br>
            <a href="{% url 'profile_content' post.author_id %}">Go {{ post.author }} 's Profile </a><br>
            <p class="bg-info">Title: {{ post.post_title }}</p>
            <p class="bg-info">Author: {{ post.author }}</p>
            <p class="bg-info">Content: {{ post.content }}</p>
            <p class="bg-info">Created at: {{ post.created_at }}</p>
            <p class="bg-info">Updated at: {{ post.updated_at }}</p>
            <p class="bg-info">Like: {{ post.like }}</p>
            <p class="bg-info">Dislike: {{ post.dislike }}</p><br><br>
            </p>
        {% endfor %}
    {% else %}
        <p>no choices</p>
    {% endif %}
    </div>
    </p>
    <br><br><br>
    <p>Created by Oğuz ÖZTÜRK</p>
    </body>
    </html>
{% endblock %}