{% extends 'master.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
    </head>
    <body style="background-color:powderblue;">
    <div style="float:none;margin-left: 20px;width: 75%">
        <h2><span class="label label-warning">USER PROFILE</span></h2>
        <p class="bg-info">Username: {{ user_profile.username }}</p>
        <p class="bg-info">FirstName: {{ user_profile.first_name }}</p>
        <p class="bg-info">LastName: {{ user_profile.last_name }}</p>
        <p class="bg-info">Email: {{ user_profile.email }}</p>

        <h2><p class="bg-danger">USER'S POSTS</p></h2>
        {% if post_list %}
            {% for post in post_list %}
                <p>
                <hr>
                <a href="{% url 'post_content' post.pk %}" class="btn btn-primary btn-sm" role="button">GO POST</a><br>
                <br>
                <p class="bg-info">Title: {{ post.post_title }}</p>
                <p class="bg-info">Content: {{ post.content }}</p>
                <p class="bg-info">Created at: {{ post.created_at }}</p>
                <p class="bg-info">Updated at: {{ post.updated_at }}</p>
                <p class="bg-info">Author: {{ post.author }}</p>
                <p class="bg-info">Like: {{ post.like }}</p>
                <p class="bg-info">Dislike: {{ post.dislike }}</p>
                </p>
            {% endfor %}
        {% else %}
            <p>no post</p>
        {% endif %}

        <h2><span class="label label-warning">USER'S COMMENTS</span></h2>
        {% if user_profile.comment_set %}
            {% for comment in user_profile.comment_set.all %}
                <p>
                <hr>
                <p class="bg-danger">User: {{ comment.author }}</p>
                <p class="bg-danger">Comment: {{ comment.comment_text }}</p>
                <p class="bg-danger">Created at: {{ comment.created_comment_at }}</p>
                <p class="bg-danger">Update at: {{ comment.updated_comment_at }}</p>
                <p class="bg-danger">Like: {{ comment.like_comment }}</p>
                <p class="bg-danger">Dislike: {{ comment.dislike_comment }}</p>
                </p>
            {% endfor %}
        {% else %}
            <p>no comment</p>
        {% endif %}
    </div>
    <br><br><br>
    <p>Created by Oğuz ÖZTÜRK</p>
    </body>
    </html>
{% endblock %}