{% extends 'master.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
              crossorigin="anonymous">
    </head>
    <body style="background-color:powderblue;">

    <div style="float:none;margin-left: 20px;width: 75%">
        <h2><span class="label label-warning">PROFILE</span></h2>
        <h4><a href="{% url 'edit_profile' user.id %}">Edit Profile</a></h4>
        <p class="bg-info">Username: {{ user_profile.username }}</p>
        <p class="bg-info">FirstName: {{ user_profile.first_name }}</p>
        <p class="bg-info">LastName: {{ user_profile.last_name }}</p>
        <p class="bg-info">Email: {{ user_profile.email }}</p>

        <h2><span class="label label-warning">YOUR POSTS</span></h2>
        {% if post_list %}
            {% for post in post_list %}
                <p>
                <hr>
                <a href="{% url 'post_content' post.pk %}" class="btn btn-primary btn-sm" role="button">Enter
                    Content</a>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="{% url "post_edit" post.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                        <a href="{% url "post_delete" post.pk %}" class="btn btn-primary btn-sm"
                           role="button">Delete</a>
                    {% else %}
                        {% if request.user == post.author %}
                            <a href="{% url "post_edit" post.pk %}" class="btn btn-primary btn-sm"
                               role="button">Update</a>
                            <a href="{% url "post_delete" post.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                {% endif %}
                <br>
                <p class="bg-info">Title: {{ post.post_title }}</p>
                <p class="bg-info">Content: {{ post.content }}</p>
                <p class="bg-info">Created at: {{ post.created_at }}</p>
                <p class="bg-info">Updated at: {{ post.updated_at }}</p>
                <p class="bg-info">Like: {{ post.like }}</p>
                <p class="bg-info">Dislike: {{ post.dislike }}</p>
                </p>
            {% endfor %}
        {% else %}
            <p>no post</p>
        {% endif %}

        <h2><span class="label label-warning">YOUR COMMENTS</span></h2>
        {% if user_profile.comment_set %}
            {% for comment in user_profile.comment_set.all %}
                <p>
                <hr>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a href="{% url "comment_edit" comment.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                        <a href="{% url "comment_delete" comment.pk %}" class="btn btn-primary btn-sm" role="button">Delete</a>
                        <br>
                    {% else %}
                        {% if request.user == comment.author %}
                            <a href="{% url "comment_edit" comment.pk %}" class="btn btn-primary btn-sm" role="button">Update</a>
                            <a href="{% url "comment_delete" comment.pk %}" class="btn btn-primary btn-sm"
                               role="button">Delete</a><br>
                        {% endif %}
                    {% endif %}
                {% else %}
                {% endif %}
                <p class="bg-danger">Comment: {{ comment.comment_text }}</p>
                <p class="bg-danger">Created at: {{ comment.created_comment_at }}</p>
                <p class="bg-danger">Update at: {{ comment.updated_comment_at }}</p>
                <p class="bg-danger">Like: {{ comment.like_comment }}</p>
                <p class="bg-danger">Dislike: {{ comment.dislike_comment }}</p>
                </p>
            {% endfor %}
        {% else %}
            <p>no comment</p>
        {% endif %}
    </div>
    <br><br><br>
    <p>Created by Oğuz ÖZTÜRK</p>
    </body>
    </html>
{% endblock %}